

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}
.loading-bar:nth-child(5) {
  background-color: #3498db;
  animation-delay: .36s;
}
.loading-bar:nth-child(6) {
  background-color: #c0392b;
  animation-delay: .45s;
}
.loading-bar:nth-child(7) {
  background-color: #f1c40f;
  animation-delay: .54s;
}
.loading-bar:nth-child(8) {
  background-color: #27ae60;
  animation-delay: .63s;
}
.loading-bar:nth-child(9) {
  background-color: #3498db;
  animation-delay: .72s;
}
.loading-bar:nth-child(10) {
  background-color: #c0392b;
  animation-delay: .81s;
}
.loading-bar:nth-child(11) {
  background-color: #f1c40f;
  animation-delay: .90s;
}
.loading-bar:nth-child(12) {
  background-color: #27ae60;
  animation-delay: .99s;
}
.loading-bar:nth-child(13) {
  background-color: #3498db;
  animation-delay: 1.08s;
}
.loading-bar:nth-child(14) {
  background-color: #c0392b;
  animation-delay: 1.17s;
}
.loading-bar:nth-child(15) {
  background-color: #f1c40f;
  animation-delay: 1.26s;
}
.loading-bar:nth-child(16) {
  background-color: #27ae60;
  animation-delay: 1.35s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(17) {
  background-color: #FFFFFF;
  animation-delay: 1.44s;
}
.loading-bar:nth-child(18) {
  background-color: #FFFFFF;
  animation-delay: 1.53s;
}
.loading-bar:nth-child(19) {
  background-color: #FFFFFF;
  animation-delay: 1.62s;
}
.loading-bar:nth-child(20) {
  background-color: #FFFFFF;
  animation-delay: 1.71s;
}
.loading-bar:nth-child(21) {
  background-color: #FFFFFF;
  animation-delay: 1.80s;
}
.loading-bar:nth-child(22) {
  background-color: #FFFFFF;
  animation-delay: 1.89s;
}
.loading-bar:nth-child(23) {
  background-color: #FFFFFF;
  animation-delay: 1.98s;
}
.loading-bar:nth-child(24) {
  background-color: #FFFFFF;
  animation-delay: 2.07s;
}
.loading-bar:nth-child(25) {
  background-color: #FFFFFF;
  animation-delay: 2.16s;
}
.loading-bar:nth-child(26) {
  background-color: #FFFFFF;
  animation-delay: 2.25s;
}
.loading-bar:nth-child(27) {
  background-color: #FFFFFF;
  animation-delay: 2.34s;
}
.loading-bar:nth-child(28) {
  background-color: #FFFFFF;
  animation-delay: 2.43s;
}
.loading-bar:nth-child(29) {
  background-color: #FFFFFF;
  animation-delay: 2.52s;
}
.loading-bar:nth-child(30) {
  background-color: #FFFFFF;
  animation-delay: 2.61s;
}
.loading-bar:nth-child(31) {
  background-color: #FFFFFF;
  animation-delay: 2.70s;
}
.loading-bar:nth-child(32) {
  background-color: #FFFFFF;
  animation-delay: 2.79s;
}

/*//////////////////////////////////////////////////////////////*/
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
