body {
background-image: url(https://media1.tenor.com/images/3df44cd90e286b1821648f6a40e82c04/tenor.gif); 
background-size: cover;
background-repeat: no-repeat;
}

.row {
display: flex;
flex-direction: row;
justify-content: center;
border: 3px solid black;
}

.column {
  display: flex;
  flex-direction: column;

}

.total_dirt {
text-shadow: 5px;
text-align: center;
padding-top: 1%;
margin-bottom: 20px;
width: 200px;
height: 50px;
font-size: 30px;
font-style: normal;
font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
  /* background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden; */
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.shovelnum {
  width: 250px;
  height: 30px;
  font-size: 25px;
  text-shadow: 5px;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: white;
  background-blend-mode: lighten;
}

.shovelcost {
  width: 200px;
  height: 30px;
  font-size: 25px;
  text-shadow: 5px;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-blend-mode: lighten;
}

#row1_5 {
margin-bottom: 2%;
font-size: 20px;
font-family: "Comic Sans MS", cursive, sans-serif;
}

#row2 {
padding-top: 2%;
}

#row3 {
  padding-top: 8%;
  justify-content: space-evenly;
}
