<<<<<<< HEAD
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
=======
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
>>>>>>> 86fa6c2f7754b2b2165fee9ea7af593e997dad96
}
