.title {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

body {
  background-image: url(https://i.imgur.com/BpTwvHA.jpg);
  background-attachment: fixed;
  width: 100%;
  font-family: 'Audiowide';font-size: 14px;
}

.UserPicture {
  width: 100px;
  height: 100px;
}
.ItemPicture {
  width: 100px;
  height: 100px;
}

.Currency {
  text-align: center;
  padding-top: 5% 0;
  padding-bottom: 5% 0;
  width: 65%;
  padding-top: 4%;
  font-family: 'Audiowide';font-size: 32px;
}

.Shop {
  width: 17.5%;
}

.row {
  margin-top: 1%;
}

#row1 {
  background-color: rgb(255, 0, 85);
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=80);
}

#row2 {
  border: 1px solid black;
  background-color: rgb(255, 0, 85);
  display: flex;
  flex-direction: row;
  opacity: 0.7;
  filter: alpha(opacity=80);
}
.subcolumn1 {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.subcolum2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subrow2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 46%;
}

.progress_bar {
  width: 99.8%;
  height: 50%;
}

.Stats {
  height: 100%;
  width: 200%;

}
.Upgrade {
  height: 106%;
  width: 438%;

}

 .column2 {
  width: 100%;

}
 .ItemPicture_Sect1 {
   height: 100px;
   border-radius: 50%;
 }

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  font-family: 'Audiowide';font-size: 22px;
  cursor: pointer;
  outline: none;
  color: #fff;


}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  transform: translateY(3px);
}

div. {
    margin: 30px;
    background-color: #ffffff;
    border: .5px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    }

    .tab {
      position: fixed;
      right: 0;/* this changes the position of the menu*/
      top: 0;
      /*border: 1px solid #ccc;*/
      /*background-color: #f1f1f1;*/
      background-color: rgba(179, 179, 204, .3);
      width: 15%;
      height: 100%;
    }

    /* Style the buttons inside the tab */
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: rgba(224, 224, 235, 0.4);
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
      background-color: rgba(148, 148, 184, 0.6);
    }

    /* Style the content */
    .tabcontent {
      float: left;
      padding: 0px 12px;
      text-align: center;
      /*border: 1px solid #ccc;*/

      width: 80%;
      border-left: none;
      height: 800px;
      /*margin-left: 1.75%;*/
    }

/* ________________________________________________________________________________ */
/* Starting a New Section */


.progress_bar_Sect1 {
  position: center;
  top: 50%;
  left: 50%;

}
.loading-bar {
  display: inline-block;
  align-content: center;
  background-color: #FFFFFF;
  padding-top: 1.2%;
  width: .25%;
  height: 50%;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;

}

/*///////////////////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(1) {
  background-color: #FFFFFF;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #FFFFFF;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #FFFFFF;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #FFFFFF;
  animation-delay: .27s;
}
.loading-bar:nth-child(5) {
  background-color: #FFFFFF;
  animation-delay: .36s;
}
.loading-bar:nth-child(6) {
  background-color: #FFFFFF;
  animation-delay: .45s;
}
.loading-bar:nth-child(7) {
  background-color: #FFFFFF;
  animation-delay: .54s;
}
.loading-bar:nth-child(8) {
  background-color: #FFFFFF;
  animation-delay: .63s;
}
.loading-bar:nth-child(9) {
  background-color: #FFFFFF;
  animation-delay: .72s;
}
.loading-bar:nth-child(10) {
  background-color: #FFFFFF;
  animation-delay: .81s;
}
.loading-bar:nth-child(11) {
  background-color: #FFFFFF;
  animation-delay: .90s;
}
.loading-bar:nth-child(12) {
  background-color: #FFFFFF;
  animation-delay: .99s;
}
.loading-bar:nth-child(13) {
  background-color: #FFFFFF;
  animation-delay: 1.08s;
}
.loading-bar:nth-child(14) {
  background-color: #FFFFFF;
  animation-delay: 1.17s;
}
.loading-bar:nth-child(15) {
  background-color: #FFFFFF;
  animation-delay: 1.26s;
}
.loading-bar:nth-child(16) {
  background-color: #FFFFFF;
  animation-delay: 1.35s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(17) {
  background-color: #FFFFFF;
  animation-delay: 1.44s;
}
.loading-bar:nth-child(18) {
  background-color: #FFFFFF;
  animation-delay: 1.53s;
}
.loading-bar:nth-child(19) {
  background-color: #FFFFFF;
  animation-delay: 1.62s;
}
.loading-bar:nth-child(20) {
  background-color: #FFFFFF;
  animation-delay: 1.71s;
}
.loading-bar:nth-child(21) {
  background-color: #FFFFFF;
  animation-delay: 1.80s;
}
.loading-bar:nth-child(22) {
  background-color: #FFFFFF;
  animation-delay: 1.89s;
}
.loading-bar:nth-child(23) {
  background-color: #FFFFFF;
  animation-delay: 1.98s;
}
.loading-bar:nth-child(24) {
  background-color: #FFFFFF;
  animation-delay: 2.07s;
}
.loading-bar:nth-child(25) {
  background-color: #FFFFFF;
  animation-delay: 2.16s;
}
.loading-bar:nth-child(26) {
  background-color: #FFFFFF;
  animation-delay: 2.25s;
}
.loading-bar:nth-child(27) {
  background-color: #FFFFFF;
  animation-delay: 2.34s;
}
.loading-bar:nth-child(28) {
  background-color: #FFFFFF;
  animation-delay: 2.43s;
}
.loading-bar:nth-child(29) {
  background-color: #FFFFFF;
  animation-delay: 2.52s;
}
.loading-bar:nth-child(30) {
  background-color: #FFFFFF;
  animation-delay: 2.61s;
}
.loading-bar:nth-child(31) {
  background-color: #FFFFFF;
  animation-delay: 2.70s;
}
.loading-bar:nth-child(32) {
  background-color: #FFFFFF;
  animation-delay: 2.79s;
}

/*//////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(33) {
  background-color: #FFFFFF;
  animation-delay: 2.88s;
}
.loading-bar:nth-child(34) {
  background-color: #FFFFFF;
  animation-delay: 2.97s;
}
.loading-bar:nth-child(35) {
  background-color: #FFFFFF;
  animation-delay: 3.06s;
}
.loading-bar:nth-child(36) {
  background-color: #FFFFFF;
  animation-delay: 3.15s;
}
.loading-bar:nth-child(37) {
  background-color: #FFFFFF;
  animation-delay: 3.24s;
}
.loading-bar:nth-child(38) {
  background-color: #FFFFFF;
  animation-delay: 3.33s;
}
.loading-bar:nth-child(39) {
  background-color: #FFFFFF;
  animation-delay: 3.42s;
}
.loading-bar:nth-child(40) {
  background-color: #FFFFFF;
  animation-delay: 3.51s;
}
.loading-bar:nth-child(41) {
  background-color: #FFFFFF;
  animation-delay: 3.60s;
}
.loading-bar:nth-child(42) {
  background-color: #FFFFFF;
  animation-delay: 3.69s;
}
.loading-bar:nth-child(43) {
  background-color: #FFFFFF;
  animation-delay: 3.78s;
}
.loading-bar:nth-child(44) {
  background-color: #FFFFFF;
  animation-delay: 3.87s;
}
.loading-bar:nth-child(45) {
  background-color: #FFFFFF;
  animation-delay: 3.96s;
}
.loading-bar:nth-child(46) {
  background-color: #FFFFFF;
  animation-delay: 4.05s;
}
.loading-bar:nth-child(47) {
  background-color: #FFFFFF;
  animation-delay: 4.14s;
}
.loading-bar:nth-child(48) {
  background-color: #FFFFFF;
  animation-delay: 4.23s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(49) {
  background-color: #FFFFFF;
  animation-delay: 4.32s;
}
.loading-bar:nth-child(50) {
  background-color: #FFFFFF;
  animation-delay: 4.41s;
}
.loading-bar:nth-child(51) {
  background-color: #FFFFFF;
  animation-delay: 4.50s;
}
.loading-bar:nth-child(52) {
  background-color: #FFFFFF;
  animation-delay: 4.59s;
}
.loading-bar:nth-child(53) {
  background-color: #FFFFFF;
  animation-delay: 4.68s;
}
.loading-bar:nth-child(54) {
  background-color: #FFFFFF;
  animation-delay: 4.77s;
}
.loading-bar:nth-child(55) {
  background-color: #FFFFFF;
  animation-delay: 4.86s;
}
.loading-bar:nth-child(56) {
  background-color: #FFFFFF;
  animation-delay: 4.95s;
}
.loading-bar:nth-child(57) {
  background-color: #FFFFFF;
  animation-delay: 5.04s;
}
.loading-bar:nth-child(58) {
  background-color: #FFFFFF;
  animation-delay: 5.13s;
}
.loading-bar:nth-child(59) {
  background-color: #FFFFFF;
  animation-delay: 5.22s;
}
.loading-bar:nth-child(60) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(61) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(62) {
  background-color: #FFFFFF;
  animation-delay: 5.40s;
}
.loading-bar:nth-child(63) {
  background-color: #FFFFFF;
  animation-delay: 5.49s;
}
.loading-bar:nth-child(64) {
  background-color: #FFFFFF;
  animation-delay: 5.58s;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(65) {
  background-color: #FFFFFF;
  animation-delay: 0;
}
.loading-bar:nth-child(66) {
  background-color: #FFFFFF;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(67) {
  background-color: #FFFFFF;
  animation-delay: .18s;
}
.loading-bar:nth-child(68) {
  background-color: #FFFFFF;
  animation-delay: .27s;
}
.loading-bar:nth-child(69) {
  background-color: #FFFFFF;
  animation-delay: .36s;
}
.loading-bar:nth-child(70) {
  background-color: #FFFFFF;
  animation-delay: .45s;
}
.loading-bar:nth-child(71) {
  background-color: #FFFFFF;
  animation-delay: .54s;
}
.loading-bar:nth-child(72) {
  background-color: #FFFFFF;
  animation-delay: .63s;
}
.loading-bar:nth-child(73) {
  background-color: #FFFFFF;
  animation-delay: .72s;
}
.loading-bar:nth-child(74) {
  background-color: #FFFFFF;
  animation-delay: .81s;
}
.loading-bar:nth-child(75) {
  background-color: #FFFFFF;
  animation-delay: .90s;
}
.loading-bar:nth-child(76) {
  background-color: #FFFFFF;
  animation-delay: .99s;
}
.loading-bar:nth-child(77) {
  background-color: #FFFFFF;
  animation-delay: 1.08s;
}
.loading-bar:nth-child(78) {
  background-color: #FFFFFF;
  animation-delay: 1.17s;
}
.loading-bar:nth-child(79) {
  background-color: #FFFFFF;
  animation-delay: 1.26s;
}
.loading-bar:nth-child(80) {
  background-color: #FFFFFF;
  animation-delay: 1.35s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(81) {
  background-color: #FFFFFF;
  animation-delay: 1.44s;
}
.loading-bar:nth-child(82) {
  background-color: #FFFFFF;
  animation-delay: 1.53s;
}
.loading-bar:nth-child(83) {
  background-color: #FFFFFF;
  animation-delay: 1.62s;
}
.loading-bar:nth-child(84) {
  background-color: #FFFFFF;
  animation-delay: 1.71s;
}
.loading-bar:nth-child(85) {
  background-color: #FFFFFF;
  animation-delay: 1.80s;
}
.loading-bar:nth-child(86) {
  background-color: #FFFFFF;
  animation-delay: 1.89s;
}
.loading-bar:nth-child(87) {
  background-color: #FFFFFF;
  animation-delay: 1.98s;
}
.loading-bar:nth-child(88) {
  background-color: #FFFFFF;
  animation-delay: 2.07s;
}
.loading-bar:nth-child(89) {
  background-color: #FFFFFF;
  animation-delay: 2.16s;
}
.loading-bar:nth-child(90) {
  background-color: #FFFFFF;
  animation-delay: 2.25s;
}
.loading-bar:nth-child(91) {
  background-color: #FFFFFF;
  animation-delay: 2.34s;
}
.loading-bar:nth-child(92) {
  background-color: #FFFFFF;
  animation-delay: 2.43s;
}
.loading-bar:nth-child(93) {
  background-color: #FFFFFF;
  animation-delay: 2.52s;
}
.loading-bar:nth-child(94) {
  background-color: #FFFFFF;
  animation-delay: 2.61s;
}
.loading-bar:nth-child(95) {
  background-color: #FFFFFF;
  animation-delay: 2.70s;
}
.loading-bar:nth-child(96) {
  background-color: #FFFFFF;
  animation-delay: 2.79s;
}

/*//////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(97) {
  background-color: #FFFFFF;
  animation-delay: 2.88s;
}
.loading-bar:nth-child(98) {
  background-color: #FFFFFF;
  animation-delay: 2.97s;
}
.loading-bar:nth-child(99) {
  background-color: #FFFFFF;
  animation-delay: 3.06s;
}
.loading-bar:nth-child(100) {
  background-color: #FFFFFF;
  animation-delay: 3.15s;
}
.loading-bar:nth-child(101) {
  background-color: #FFFFFF;
  animation-delay: 3.24s;
}
.loading-bar:nth-child(102) {
  background-color: #FFFFFF;
  animation-delay: 3.33s;
}
.loading-bar:nth-child(103) {
  background-color: #FFFFFF;
  animation-delay: 3.42s;
}
.loading-bar:nth-child(104) {
  background-color: #FFFFFF;
  animation-delay: 3.51s;
}
.loading-bar:nth-child(105) {
  background-color: #FFFFFF;
  animation-delay: 3.60s;
}
.loading-bar:nth-child(106) {
  background-color: #FFFFFF;
  animation-delay: 3.69s;
}
.loading-bar:nth-child(107) {
  background-color: #FFFFFF;
  animation-delay: 3.78s;
}
.loading-bar:nth-child(108) {
  background-color: #FFFFFF;
  animation-delay: 3.87s;
}
.loading-bar:nth-child(109) {
  background-color: #FFFFFF;
  animation-delay: 3.96s;
}
.loading-bar:nth-child(110) {
  background-color: #FFFFFF;
  animation-delay: 4.05s;
}
.loading-bar:nth-child(111) {
  background-color: #FFFFFF;
  animation-delay: 4.14s;
}
.loading-bar:nth-child(112) {
  background-color: #FFFFFF;
  animation-delay: 4.23s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(113) {
  background-color: #FFFFFF;
  animation-delay: 4.32s;
}
.loading-bar:nth-child(114) {
  background-color: #FFFFFF;
  animation-delay: 4.41s;
}
.loading-bar:nth-child(115) {
  background-color: #FFFFFF;
  animation-delay: 4.50s;
}
.loading-bar:nth-child(116) {
  background-color: #FFFFFF;
  animation-delay: 4.59s;
}
.loading-bar:nth-child(117) {
  background-color: #FFFFFF;
  animation-delay: 4.68s;
}
.loading-bar:nth-child(118) {
  background-color: #FFFFFF;
  animation-delay: 4.77s;
}
.loading-bar:nth-child(119) {
  background-color: #FFFFFF;
  animation-delay: 4.86s;
}
.loading-bar:nth-child(120) {
  background-color: #FFFFFF;
  animation-delay: 4.95s;
}
.loading-bar:nth-child(121) {
  background-color: #FFFFFF;
  animation-delay: 5.04s;
}
.loading-bar:nth-child(122) {
  background-color: #FFFFFF;
  animation-delay: 5.13s;
}
.loading-bar:nth-child(123) {
  background-color: #FFFFFF;
  animation-delay: 5.22s;
}
.loading-bar:nth-child(124) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(125) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(126) {
  background-color: #FFFFFF;
  animation-delay: 5.40s;
}
.loading-bar:nth-child(127) {
  background-color: #FFFFFF;
  animation-delay: 5.49s;
}
.loading-bar:nth-child(128) {
  background-color: #FFFFFF;
  animation-delay: 5.58s;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(129) {
  background-color: #FFFFFF;
  animation-delay: 0;
}
.loading-bar:nth-child(130) {
  background-color: #FFFFFF;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(131) {
  background-color: #FFFFFF;
  animation-delay: .18s;
}
.loading-bar:nth-child(132) {
  background-color: #FFFFFF;
  animation-delay: .27s;
}
.loading-bar:nth-child(134) {
  background-color: #FFFFFF;
  animation-delay: .36s;
}
.loading-bar:nth-child(135) {
  background-color: #FFFFFF;
  animation-delay: .45s;
}
.loading-bar:nth-child(136) {
  background-color: #FFFFFF;
  animation-delay: .54s;
}
.loading-bar:nth-child(137) {
  background-color: #FFFFFF;
  animation-delay: .63s;
}
.loading-bar:nth-child(138) {
  background-color: #FFFFFF;
  animation-delay: .72s;
}
.loading-bar:nth-child(139) {
  background-color: #FFFFFF;
  animation-delay: .81s;
}
.loading-bar:nth-child(140) {
  background-color: #FFFFFF;
  animation-delay: .90s;
}
.loading-bar:nth-child(141) {
  background-color: #FFFFFF;
  animation-delay: .99s;
}
.loading-bar:nth-child(142) {
  background-color: #FFFFFF;
  animation-delay: 1.08s;
}
.loading-bar:nth-child(143) {
  background-color: #FFFFFF;
  animation-delay: 1.17s;
}
.loading-bar:nth-child(144) {
  background-color: #FFFFFF;
  animation-delay: 1.26s;
}
.loading-bar:nth-child(145) {
  background-color: #FFFFFF;
  animation-delay: 1.35s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(146) {
  background-color: #FFFFFF;
  animation-delay: 1.44s;
}
.loading-bar:nth-child(147) {
  background-color: #FFFFFF;
  animation-delay: 1.53s;
}
.loading-bar:nth-child(148) {
  background-color: #FFFFFF;
  animation-delay: 1.62s;
}
.loading-bar:nth-child(149) {
  background-color: #FFFFFF;
  animation-delay: 1.71s;
}
.loading-bar:nth-child(150) {
  background-color: #FFFFFF;
  animation-delay: 1.80s;
}
.loading-bar:nth-child(151) {
  background-color: #FFFFFF;
  animation-delay: 1.89s;
}
.loading-bar:nth-child(152) {
  background-color: #FFFFFF;
  animation-delay: 1.98s;
}
.loading-bar:nth-child(153) {
  background-color: #FFFFFF;
  animation-delay: 2.07s;
}
.loading-bar:nth-child(154) {
  background-color: #FFFFFF;
  animation-delay: 2.16s;
}
.loading-bar:nth-child(155) {
  background-color: #FFFFFF;
  animation-delay: 2.25s;
}
.loading-bar:nth-child(156) {
  background-color: #FFFFFF;
  animation-delay: 2.34s;
}
.loading-bar:nth-child(157) {
  background-color: #FFFFFF;
  animation-delay: 2.43s;
}
.loading-bar:nth-child(158) {
  background-color: #FFFFFF;
  animation-delay: 2.52s;
}
.loading-bar:nth-child(159) {
  background-color: #FFFFFF;
  animation-delay: 2.61s;
}
.loading-bar:nth-child(159) {
  background-color: #FFFFFF;
  animation-delay: 2.70s;
}
.loading-bar:nth-child(160) {
  background-color: #FFFFFF;
  animation-delay: 2.79s;
}

/*//////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(161) {
  background-color: #FFFFFF;
  animation-delay: 2.88s;
}
.loading-bar:nth-child(162) {
  background-color: #FFFFFF;
  animation-delay: 2.97s;
}
.loading-bar:nth-child(163) {
  background-color: #FFFFFF;
  animation-delay: 3.06s;
}
.loading-bar:nth-child(164) {
  background-color: #FFFFFF;
  animation-delay: 3.15s;
}
.loading-bar:nth-child(165) {
  background-color: #FFFFFF;
  animation-delay: 3.24s;
}
.loading-bar:nth-child(166) {
  background-color: #FFFFFF;
  animation-delay: 3.33s;
}
.loading-bar:nth-child(167) {
  background-color: #FFFFFF;
  animation-delay: 3.42s;
}
.loading-bar:nth-child(168) {
  background-color: #FFFFFF;
  animation-delay: 3.51s;
}
.loading-bar:nth-child(169) {
  background-color: #FFFFFF;
  animation-delay: 3.60s;
}
.loading-bar:nth-child(170) {
  background-color: #FFFFFF;
  animation-delay: 3.69s;
}
.loading-bar:nth-child(171) {
  background-color: #FFFFFF;
  animation-delay: 3.78s;
}
.loading-bar:nth-child(172) {
  background-color: #FFFFFF;
  animation-delay: 3.87s;
}
.loading-bar:nth-child(173) {
  background-color: #FFFFFF;
  animation-delay: 3.96s;
}
.loading-bar:nth-child(174) {
  background-color: #FFFFFF;
  animation-delay: 4.05s;
}
.loading-bar:nth-child(175) {
  background-color: #FFFFFF;
  animation-delay: 4.14s;
}
.loading-bar:nth-child(176) {
  background-color: #FFFFFF;
  animation-delay: 4.23s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(177) {
  background-color: #FFFFFF;
  animation-delay: 4.32s;
}
.loading-bar:nth-child(178) {
  background-color: #FFFFFF;
  animation-delay: 4.41s;
}
.loading-bar:nth-child(179) {
  background-color: #FFFFFF;
  animation-delay: 4.50s;
}
.loading-bar:nth-child(180) {
  background-color: #FFFFFF;
  animation-delay: 4.59s;
}
.loading-bar:nth-child(181) {
  background-color: #FFFFFF;
  animation-delay: 4.68s;
}
.loading-bar:nth-child(182) {
  background-color: #FFFFFF;
  animation-delay: 4.77s;
}
.loading-bar:nth-child(183) {
  background-color: #FFFFFF;
  animation-delay: 4.86s;
}
.loading-bar:nth-child(184) {
  background-color: #FFFFFF;
  animation-delay: 4.95s;
}
.loading-bar:nth-child(185) {
  background-color: #FFFFFF;
  animation-delay: 5.04s;
}
.loading-bar:nth-child(186) {
  background-color: #FFFFFF;
  animation-delay: 5.13s;
}
.loading-bar:nth-child(187) {
  background-color: #FFFFFF;
  animation-delay: 5.22s;
}
.loading-bar:nth-child(188) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(189) {
  background-color: #FFFFFF;
  animation-delay: 5.31s;
}
.loading-bar:nth-child(190) {
  background-color: #FFFFFF;
  animation-delay: 5.40s;
}
.loading-bar:nth-child(191) {
  background-color: #FFFFFF;
  animation-delay: 5.49s;
}
.loading-bar:nth-child(192) {
  background-color: #FFFFFF;
  animation-delay: 5.58s;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(193) {
  background-color: #FFFFFF;
  animation-delay: 5.67s;
}
.loading-bar:nth-child(194) {
  background-color: #FFFFFF;
  animation-delay: 5.76s;
}
.loading-bar:nth-child(195) {
  background-color: #FFFFFF;
  animation-delay: 5.85s;
}
.loading-bar:nth-child(196) {
  background-color: #FFFFFF;
  animation-delay: 5.94s;
}
.loading-bar:nth-child(197) {
  background-color: #FFFFFF;
  animation-delay: 6.03s;
}
.loading-bar:nth-child(198) {
  background-color: #FFFFFF;
  animation-delay: 6.12s;
}
.loading-bar:nth-child(199) {
  background-color: #FFFFFF;
  animation-delay: 6.21s;
}
.loading-bar:nth-child(200) {
  background-color: #FFFFFF;
  animation-delay: 6.30s;
}
.loading-bar:nth-child(201) {
  background-color: #FFFFFF;
  animation-delay: 6.39s;
}
.loading-bar:nth-child(202) {
  background-color: #FFFFFF;
  animation-delay: 6.48s;
}
.loading-bar:nth-child(203) {
  background-color: #FFFFFF;
  animation-delay: 6.57s;
}
.loading-bar:nth-child(204) {
  background-color: #FFFFFF;
  animation-delay: 6.66s;
}
.loading-bar:nth-child(205) {
  background-color: #FFFFFF;
  animation-delay: 6.75s;
}
.loading-bar:nth-child(206) {
  background-color: #FFFFFF;
  animation-delay: 6.84s;
}
.loading-bar:nth-child(207) {
  background-color: #FFFFFF;
  animation-delay: 6.93s;
}
.loading-bar:nth-child(208) {
  background-color: #FFFFFF;
  animation-delay: 7.02s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(209) {
  background-color: #FFFFFF;
  animation-delay: 7.11s;
}
.loading-bar:nth-child(210) {
  background-color: #FFFFFF;
  animation-delay: 7.20s;
}
.loading-bar:nth-child(211) {
  background-color: #FFFFFF;
  animation-delay: 7.29s;
}
.loading-bar:nth-child(212) {
  background-color: #FFFFFF;
  animation-delay: 7.38s;
}
.loading-bar:nth-child(213) {
  background-color: #FFFFFF;
  animation-delay: 7.47s;
}
.loading-bar:nth-child(214) {
  background-color: #FFFFFF;
  animation-delay: 7.56s;
}
.loading-bar:nth-child(215) {
  background-color: #FFFFFF;
  animation-delay: 7.56s;
}
.loading-bar:nth-child(216) {
  background-color: #FFFFFF;
  animation-delay: 7.56s;
}
.loading-bar:nth-child(217) {
  background-color: #FFFFFF;
  animation-delay: 7.65s;
}
.loading-bar:nth-child(218) {
  background-color: #FFFFFF;
  animation-delay: 7.74s;
}
.loading-bar:nth-child(219) {
  background-color: #FFFFFF;
  animation-delay: 7.83s;
}
.loading-bar:nth-child(220) {
  background-color: #FFFFFF;
  animation-delay: 7.92s;
}
.loading-bar:nth-child(221) {
  background-color: #FFFFFF;
  animation-delay: 8.01s;
}
.loading-bar:nth-child(222) {
  background-color: #FFFFFF;
  animation-delay: 8.10s;
}
.loading-bar:nth-child(223) {
  background-color: #FFFFFF;
  animation-delay: 8.19s;
}
.loading-bar:nth-child(224) {
  background-color: #FFFFFF;
  animation-delay: 8.28s;
}

/*//////////////////////////////////////////////////////////////*/

.loading-bar:nth-child(225) {
  background-color: #FFFFFF;
  animation-delay: 8.37s;
}
.loading-bar:nth-child(226) {
  background-color: #FFFFFF;
  animation-delay: 8.46s;
}
.loading-bar:nth-child(227) {
  background-color: #FFFFFF;
  animation-delay: 8.55s;
}
.loading-bar:nth-child(228) {
  background-color: #FFFFFF;
  animation-delay: 8.64s;
}
.loading-bar:nth-child(229) {
  background-color: #FFFFFF;
  animation-delay: 8.73s;
}
.loading-bar:nth-child(230) {
  background-color: #FFFFFF;
  animation-delay: 8.82s;
}
.loading-bar:nth-child(231) {
  background-color: #FFFFFF;
  animation-delay: 8.91s;
}
.loading-bar:nth-child(232) {
  background-color: #FFFFFF;
  animation-delay: 9.00s;
}
.loading-bar:nth-child(233) {
  background-color: #FFFFFF;
  animation-delay: 9.09s;
}
.loading-bar:nth-child(234) {
  background-color: #FFFFFF;
  animation-delay: 9.18s;
}
.loading-bar:nth-child(235) {
  background-color: #FFFFFF;
  animation-delay: 9.27s;
}
.loading-bar:nth-child(236) {
  background-color: #FFFFFF;
  animation-delay: 9.37s;
}
.loading-bar:nth-child(237) {
  background-color: #FFFFFF;
  animation-delay: 9.45s;
}
.loading-bar:nth-child(238) {
  background-color: #FFFFFF;
  animation-delay: 9.54s;
}
.loading-bar:nth-child(239) {
  background-color: #FFFFFF;
  animation-delay: 9.63s;
}
.loading-bar:nth-child(240) {
  background-color: #FFFFFF;
  animation-delay: 9.72s;
}
/*//////////////////////////////////////////////////////////////*/
.loading-bar:nth-child(241) {
  background-color: #FFFFFF;
  animation-delay: 9.81s;
}
.loading-bar:nth-child(242) {
  background-color: #FFFFFF;
  animation-delay: 9.90s;
}
.loading-bar:nth-child(243) {
  background-color: #FFFFFF;
  animation-delay: 9.99s;
}
.loading-bar:nth-child(244) {
  background-color: #FFFFFF;
  animation-delay: 10.08s;
}
.loading-bar:nth-child(245) {
  background-color: #FFFFFF;
  animation-delay: 10.17s;
}
.loading-bar:nth-child(246) {
  background-color: #FFFFFF;
  animation-delay: 10.26s;
}
.loading-bar:nth-child(247) {
  background-color: #FFFFFF;
  animation-delay: 10.35s;
}
.loading-bar:nth-child(248) {
  background-color: #FFFFFF;
  animation-delay: 10.44s;
}
.loading-bar:nth-child(249) {
  background-color: #FFFFFF;
  animation-delay: 10.53s;
}
.loading-bar:nth-child(250) {
  background-color: #FFFFFF;
  animation-delay: 10.62s;
}
.loading-bar:nth-child(251) {
  background-color: #FFFFFF;
  animation-delay: 10.71s;
}
.loading-bar:nth-child(252) {
  background-color: #FFFFFF;
  animation-delay: 10.80s;
}
.loading-bar:nth-child(253) {
  background-color: #FFFFFF;
  animation-delay: 10.89s;
}
.loading-bar:nth-child(254) {
  background-color: #FFFFFF;
  animation-delay: 10.98s;
}
.loading-bar:nth-child(255) {
  background-color: #FFFFFF;
  animation-delay: 11.07s;
}
.loading-bar:nth-child(256) {
  background-color: #FFFFFF;
  animation-delay: 11.16s;
}
/*//////////////////////////////////////////////////////////////////////////////////*/

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 1.7);
  }
  40% {
    transform: scale(2);
  }
}



/* ________________________________________________________________________________ */
/* Design for the manager page */
.AlienManagers{
  display: grid;
  grid-template-columns: 150px 800px;
  transform: translate(20%, 10%);
  margin-top: 20px;
}
.content{
margin-left: 5%;
}
.userphoto{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  }
.Man-Text{
  color: #ffffff;
  top: 0;
  left: 10%;
  text-align: top;
  text-decoration: none;
  font-size: 25px;
}
.Button-Manager {
  background-color: #DE15CC;
  border: none;
  outline: none;
  color: white;
  padding: 3% 35%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.Button-Manager:hover {
  background-color: #F918E5;
}
.Button-Manager:active {
  background-color: #C614B6;
}
